body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Lato', Verdana, sans-serif;
}
.wrapper {
    max-width: 940px;
    margin: 0 auto;
}
/*header*/
.header {
  background-color: #2d303a;
    box-sizing: border-box;
    height: 95px;
    border-bottom: 6px solid #323645;
}

nav {
    padding-top: 15px;
}
.logo_white_text {
    color: #ffffff;
    font-size: 25px;
  letter-spacing: -0.02em;
  font-weight: 550;

}
.logo_red {
    color: #f06c64;
}

.logo {
    text-decoration: none;
}
.header_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header_navigation {
 display: flex;
 justify-content: space-around;
 width: 370px;
 }
 
.nav_link {
    color: #ffffff;
    text-decoration: none;
  
}
.home {
color: #f06c64;
}
.nav_link:hover {
    color: #f06c64;
}
li {
    letter-spacing: -0.02rem;
    font-size: 12px;
    font-weight: 550;
}
.nav_li {
    list-style: none;
    color: #ffffff;
    
    
}
.nav_point {
    list-style: none;
    cursor: default;
    color: #494e62;
      margin: 0 14px 0 14px;
}

/*main*/
.main_content {
    box-sizing: border-box;
    background-color: #f06c64;
    height: 600px;
    border-bottom: 6px solid #ea676b;
    width: 100%;
}
.slider_arrow {
    height: 100%;
    cursor: pointer;
    margin-bottom: 60px;
    }
.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.slider_iphone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.iphone_vertical{
     margin: -35px -54px 68px;
   }
.iphone_horizontal{
       margin: 68px 23px 0 -277px;
   }

/*service*/
.our_services {
background-color: #f1f1f1;
box-sizing: border-box;
height: 500px;
margin: -25px;
color: #666d89;
border-bottom: 6px solid #ffffff;
}

.services_main_name {
letter-spacing: -0.04rem;
font-size: 32px;
font-weight: 900;
padding-top: 55px;

}  
.services_description {
letter-spacing: -0.06px;
font-size: 18px;
margin-top: -8px;
line-height: 30px;
width: 101%;
margin-bottom: 43px;
}
    
.services_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services {
    display: flex;
    justify-content: space-between;
    width: 32%;
    margin-bottom: 26px;
    
}
.services_conteiner {
    width: 220px;
    padding-bottom: 0px
}
.icon {
    width: 60px;
  height: 60px;
  padding-top: 3px;
  padding-right: 20px;
}
.services_name {
    font-size: 17px;
    letter-spacing: 0.04rem;
    font-weight: 900;
    margin: 0;
}
.services_text {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.1px;
    overflow: hidden;
    height: 66px;
    margin: 8px 0 0 0;
}
 