
.wrapper {
    max-width: 940px;
    margin: 0 auto;
}
/*header*/
.header {
  background-color: #2d303a;
    box-sizing: border-box;
    height: 95px;
    border-bottom: 6px solid #323645;
}

nav {
    padding-top: 15px;
}
.logo_white_text {
    color: #ffffff;
    font-size: 25px;
  letter-spacing: -0.02em;
  font-weight: 550;

}
.logo_red {
    color: #f06c64;
}

.logo {
    text-decoration: none;
}
.header_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header_navigation {
 display: flex;
 justify-content: space-around;
 width: 370px;
 }
 
.nav_link {
    color: #ffffff;
    text-decoration: none;
  
}
.home {
color: #f06c64;
}
.nav_link:hover {
    color: #f06c64;
}
li {
    letter-spacing: -0.02rem;
    font-size: 12px;
    font-weight: 550;
}
.nav_li {
    list-style: none;
    color: #ffffff;
    
    
}
.nav_point {
    list-style: none;
    cursor: default;
    color: #494e62;
      margin: 0 14px 0 14px;
}

/*main*/
.main_content {
    box-sizing: border-box;
    background-color: #f06c64;
    height: 600px;
    border-bottom: 6px solid #ea676b;
    width: 100%;
}
.slider_arrow {
    height: 100%;
    cursor: pointer;
    margin-bottom: 60px;
    }
.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.slider_iphone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.iphone_vertical{
     margin: -35px -54px 68px;
   }
.iphone_horizontal{
       margin: 68px 23px 0 -277px;
   }

/*service*/
.our_services {
background-color: #f1f1f1;
box-sizing: border-box;
height: 523px;
margin: -25px;
color: #666d89;
border-bottom: 6px solid #ffffff;
}
.our_services p{
    overflow: hidden;
    text-overflow: ellipsis;
}
.services_main_name {
letter-spacing: -0.06rem;
font-size: 32px;
font-weight: 900;
padding-top: 55px;

}  
.services_description {
letter-spacing: -0.004em;
font-size: 18px;
margin-top: -8px;
line-height: 30px;
width: 101%;
margin-bottom: 43px;
}
    
.services_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services {
    display: flex;
    justify-content: space-between;
    width: 32%;
    margin-bottom: 26px;
    
}
.services_conteiner {
    width: 220px;
    padding-bottom: 0px
}
.icon {
    width: 60px;
  height: 60px;
  padding-top: 3px;
  padding-right: 20px;
}
.services_name {
    font-size: 17px;
    letter-spacing: 0.04rem;
    font-weight: 900;
    margin: 0;
}
.services_text {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.1px;
    overflow: hidden;
    height: 66px;
    margin: 8px 0 0 0;
}
 
/*Portfolio*/
.portfolio {
box-sizing: border-box;
background: #2d303a;
color: #666d89;
border-bottom: 6px solid #323746;
height: 870px;
}
     .portfolio_menu{
         cursor: default;
     }
     .portfolio_name {
      margin: 0;
      font-size: 3rem;
      letter-spacing: 0.02em;
      font-weight: 900;
      font-stretch: ultra-expanded;
      padding: 60px 0 23px;
     }
    .portfolio_description{
        letter-spacing: 0.011em;
        font-size: 1.7rem;
        font-weight: 100;
        font-stretch: ultra-expanded;
        margin-bottom: 14px;
    }
    .image_navigations{
         list-style: none;
         display: flex;
         justify-items: start;
         letter-spacing: -0.02em;
        font-size: 1.3rem;
    }
    .image_navigation_name {
        border: 1px solid #666d89;
        border-radius: 5px 5px;
        margin-left: 12px;
        padding: 3px 6px 3px 6px;
       }
        
    .image_navigation_name_active {
        border: 1px solid #dedede;
        border-radius: 5px 5px;
        color: #dedede;
        margin-left: -40px;
        padding: 2px 7px 3px 6px;
        cursor: pointer;
         
    }
    .image_navigation_name:hover {
        border: 1px solid #dedede;
        border-radius: 5px 5px;
        color: #dedede;
        cursor: pointer;
    }
    
    .portfolio_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: -1px;
        max-height: 620px;
        overflow: hidden;
      }
    
    .box1{
        padding-top: 6px;
        padding-bottom: 15px;
        width: 220px;
        height: 186px;
      }
    
    /*About Us*/
    .about_us {
        box-sizing: border-box;
        color: #666d89;
        background: #f2f2f2;
        border-bottom: 6px solid #ffffff;
        height: 733px;
    }
    .about_us_main {
        padding-bottom: 29px;
    }
    .about_us_title{
        margin: 0;
        font-size: 1.7em;
        letter-spacing: 0.03rem;
        font-weight: 900;
        padding: 60px 0 15px;
        }
    
    .about_us_description{
        letter-spacing: 0.037rem;
        font-size: 1.7rem;
        font-weight: 100;
        margin-bottom: 14px;
        width: 101%;
        line-height: 30px;
    }
    .about_us_description span{
        letter-spacing: 0.02rem;
    }
    .about_us_photo{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .photo_user {
        margin: 0px 19px 0px 0px;
    }
    .photo_user img {
    height: 300px;
    width: 300px;
    }
    .about_us_name {
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;
        padding-top: 12px;
        letter-spacing: 0.03rem;
        font-size: 1.8rem;
        font-weight: 900;
      }
      .photo__ {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    .photo__.name_1 {
        padding-right: 210px;
     }
    .photo__.name_2 {
        padding-right: 195px;
    }
    
    .about_us_name_description {
        display: flex;
        letter-spacing: 0.017rem;
        font-size: 1.15rem;
        line-height: 20px;
        width: 1020px;
        margin-top: -2px; 
     }
     .about_us_name_description_adam{
        width: 315px;
        padding-right: 3px;
     }
    .about_us_name_description_desmond {
        letter-spacing: 0.037rem;
        width: 315px;
    
    }
    .about_us_name_description_desmond span {
        letter-spacing: 0.05rem;
    }
    .about_us_name_description_scolara{
    letter-spacing: 0.04rem;
    width: 315px;
    padding-left: 5px;
    }
    .about_us_name_description_scolara span {
        letter-spacing: 0.023rem;
    }
    .about_us_follow_us {
        display: flex;
        justify-content: left;
        padding-top: 13px;
        width: 980px;
       }
    .follow_us_icon {
     margin-right: 160px;
        }
    .follow_us_img {
    border: 1px solid #f2f2f2;
    border-radius: 40px;
    }
    .follow_us_img:hover {
    cursor: pointer;
    border: 1px solid red;
    border-radius: 40px;
    }

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Lato', Verdana, sans-serif;
}
      /*Get a Quote*/
    .contact_us {
        box-sizing: border-box;
        background:#f06c64;
        color: #f0d8d9;
        border-bottom: 6px solid #ea676b;
        height: 654px;
     }
    .contact_us_name {
    padding-top: 60px;
    margin-top: 0;
    font-size: 1.6em;
    letter-spacing: 0.021em;
    font-weight: 900;
    margin-bottom: 5px;
    }
    .contact_us_description {
     line-height: 30px;
     font-size: 1.9rem;
    letter-spacing: -0.027em;
    font-weight: 100;
    padding-bottom: 17px;
    }
    .contact_us_description span {
    letter-spacing: -0.035em;
    }
    
    .flex_conteiner{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    }
    
    .conteiner_form {
        color: #e87675;
    }
    .small_form {
        height: 35px;
        width: 618px;
        background: #d6564f;
        border-radius: 4px;
        border: 1px solid #d6564f;
        margin: 8px 0 8px 0;
        
    }
    .small_form::placeholder{
        color: #ec7e7e;
        padding-left: 12px;
        font-size: 1.2rem;
        letter-spacing: -0.02em;
        margin-top: 4px;
    }
    .big_form {
        margin-top: 5px;
        background: #d6564f;
        border-radius: 4px;
        border: 1px solid #d6564f;
        overflow: auto;
        resize: none;
        width: 615px;
        height: 197px;
    }
    .big_form::placeholder {
        color: #ec7e7e;
        padding-left: 12px;
        padding-top: 7px;
        font-size: 1.2rem;
        letter-spacing: -0.01em;
        margin-top: 4px;
        font-family: 'Lato', Verdana, sans-serif;
    }
    .submit {
        cursor: pointer;
        border: 1px solid #d6564f;
        background: #d6564f;
        color: #e87675;
        border-radius: 8px;
        padding: 8px 14px;
        width: 120px;
    }
    .submit:hover {
        box-shadow: inset 0px 0px 20px #f0d8d9;
    }
    
    .contact_info{
    margin: -14px 0px 0 18px;
    }
    .contact_info_name{
        font-size: 1.9rem;
        letter-spacing: -0.01em;
        margin-bottom: 0px;
    }
    .contact_info_description{
        width: 101%;
        font-size: 1.22rem;
        letter-spacing: -0.01rem;
        line-height: 22px;
        margin-top: 8px;
    }
    .contact_info_data {
        font-size: 1.3rem;
        letter-spacing: -0.03rem;
        padding-top: 11px;
    }
    .cont_location {
        padding-left: 2px;
    }
    .contact_info__ {
        margin-bottom: 5px;
        
    }
    .contact_info__ a{
        text-decoration: none;
        color: #f0d8d9;
        margin-left: 10px;
    }
    .contact_info__.phone{
        letter-spacing: -0.06rem;
        font-size: 1.34rem;
    }
    .contact_info__.mail{
        letter-spacing: -0.06rem;
    }
    .contact_info__ span {
        margin-left: 11px;
    }
    
    /*Footer*/
    footer{
        background: #2d303a;
        box-sizing: border-box;
        height: 76px;
        padding-top: 1px;
        }
    .foot {
        display: flex;
        justify-content: space-between;
         }
    .copyright{
    color: #626984;
    font-size: 1.2rem;
    letter-spacing: -0.01em;
    margin-top: 28px;
      }
    .footer_social {
    padding: 19px 0;
    }
    .footer_soc_active {
        border: 1px solid #2d2f3b;
        border-radius: 40px;
    }
    .footer_soc_active:hover {
        cursor: pointer;
        border: 1px solid red;
        border-radius: 40px;
    }